<!DOCTYPE html>
<html>
<head>
  <title>AuditRails</title>
  <%= stylesheet_link_tag    "audit_rails/application", :media => "all" %>
  <%= javascript_include_tag "audit_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Home', '/' %>
          </li>

          <li class="<%= active_class('index')%>">
            <%= link_to 'Audits', audits_path %>
          </li>
          <li class="<%= active_class('analytics')%>">
            <%= link_to 'Analytics', analytics_audits_path %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class='container theme-showcase'>
    <%= yield %>
  </div>

</body>
</html>
