<div class='clear'></div>
<div class='left page-views'>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#page-views-by-user" name='page-views-by-user'>Total page views <span class="badge"><%= @total %></span></a>
    </li>
  </ul>
  <br/>
  <ul class="list-group">
    <% JSON.parse(@analysis_by_user_name).each do |user_hsh| %>
      <li class="list-group-item">
        <span class="badge"><%= user_hsh["count"] %></span>
        <a href="#page-views-by-user" data-user='<%=user_hsh["user"]%>' data-page-visits='<%= page_visits_by_user(user_hsh['user'])%>'><%= user_hsh["user"] %></a>
      </li>
    <% end %>
  </ul>
</div>
<div id='pageViewsByUser' class='left'></div>
