<div id='user-pages' class='overlay'>
  <div data-attr-id="user-pages" class="col-sm-12 overlay-section">
    <div class="section-header">
      <div class="section-text">
        Users' Views by Pages
      </div>
      <div class="section-count">
        <%= @total %>
      </div>
      <button id="user-pages-zoomout" type="button" class="btn btn-default btn-lg section-zoom">
        <span class='glyphicon glyphicon-fullscreen large'></span>
      </button>
    </div>
  </div>

  <div id='per-user-by-pages-bar' class='overlay-section'>
    <div class='clear'></div>
    <div class='left page-views left-navigation'>
      <div class="list-group page-views">
        <% JSON.parse(@analysis_by_user_name).each do |user_hsh| %>
          <a href="#page-views-by-user" class="list-group-item" data-user='<%=user_hsh["user"]%>' data-page-visits='<%= page_visits_by_user(user_hsh['user'])%>'><%= user_hsh["user"] %> - <%= percentage_share(user_hsh["user"], user_hsh["count"], @total)%>
            <span class="badge"><%= user_hsh["count"] %></span>
          </a>
        <% end %>
      </div>
    </div>
    <div class='left' style="850px;">
      <div id="userNameToShow"></div>
      <div id='pageViewsByUser'></div>
      <div id='pageViewsShareByUser'></div>
    </div>
    <div id="tooltip"></div>
  </div>

</div>
