<%= javascript_include_tag "Chart.min"%>
<div id='analyticsByUser'>User clicks</div>
<br/>
<canvas id="userViews" height="450" width="600"></canvas>


  <script>

    var barChartData = {
      labels : <%= "#{@analysis_by_user_name.keys}".html_safe %>,
      datasets : [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          data : <%= @analysis_by_user_name.values %>
        }
      ]
      
    }

  var myBar = new Chart(document.getElementById("userViews").getContext("2d")).Bar(barChartData);
  
  </script>

<div id='analyticsByPage'>Page views</div>
<br/>
<canvas id="pageViews" height="450" width="600"></canvas>


  <script>

    var lineChartData = {
      labels : <%= "#{@analysis_by_page_views.keys}".html_safe %>,
      datasets : [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          data : <%= @analysis_by_page_views.values %>
        }
      ]
      
    }

  var myLine = new Chart(document.getElementById("pageViews").getContext("2d")).Line(lineChartData);
  
  </script>