<h1>Listing audits</h1>

<table>
  <tr>
    <th>Action</th>
    <th>Controller</th>
    <th>Description</th>
    <th>User name</th>
  </tr>

<% @audits.each do |audit| %>
  <tr>
    <td><%= audit.action %></td>
    <td><%= audit.controller %></td>
    <td><%= audit.description %></td>
    <td><%= audit.user_name %></td>
  </tr>
<% end %>
</table>

<br />
<%=link_to "Create Test Audits", "http://www.google.com", :class => "visit-site" %>